<IfModule mod_rewrite.c>
RewriteEngine On

# Menghilangkan ekstensi ".php" dari URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Menambahkan trailing slash pada URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ /$1/ [L,R=301]

# Menghilangkan trailing slash dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [L,R=301]
</IfModule>