
      a,a:hover,a:focus {color: inherit;text-decoration: none;transition: all 0.3s;}

      .card{box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);border:none;border-radius: 30px;}
      
      .l-header{width: 100%;position:relative;top: 0;left: 0;z-index: 99;}
      .iniheader{max-width:1080px;font-size: 1.5em;}
      
      .offcanvas-start {width: 250px;}
      
      @media (min-width: 576px) {.container {padding-left: 250px;margin-left: inherit;}
      
      #sidebarCollapse {width: 40px;height: 40px;position: relative;margin: auto;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out;transition: .5s ease-in-out;cursor: pointer;background: none;box-shadow: none;outline: none !important;border: none;}
      
      #sidebarCollapse span{display:block;position:absolute;height:5px;width:100%;background:#000;border-radius:5px;opacity:1;left:0;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
      
      #sidebarCollapse span:first-child{top:0}#sidebarCollapse span:nth-child(2),#sidebarCollapse span:nth-child(3){top:15px}#sidebarCollapse span:nth-child(4){top:30px}#sidebarCollapse.active span:first-child,#sidebarCollapse.active span:nth-child(4){top:15px;width:0%;left:50%}#sidebarCollapse.active span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}#sidebarCollapse.active span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
      
      }
      
      .bi {vertical-align: -.125em;pointer-events: none;fill: currentColor;}
      
      .btn-toggle{display:inline-flex;align-items:center;padding:.25rem .5rem;font-weight:600;color:rgba(0,0,0,.65);background-color:transparent;border:0}.btn-toggle:focus,.btn-toggle:hover{color:rgba(0,0,0,.85);background-color:#e5e5e5}
      
      .btn-toggle::before{width:1.25em;line-height:0;content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");transition:transform .35s;transform-origin:.5em 50%}.btn-toggle[aria-expanded=true]{color:rgba(0,0,0,.85)}.btn-toggle[aria-expanded=true]::before{transform:rotate(90deg)}
      
      .btn-toggle-nav a{display:inline-flex;padding:.1875rem .5rem;margin-top:.125rem;margin-left:1.25rem;text-decoration:none}.btn-toggle-nav a:focus,.btn-toggle-nav a:hover{background-color:#e5e5e5}.btn-toggle-nav a.active{font-weight:700}
   
      .offcanvas-header {background-color: #7429FD!important;color: white!important;}
      .offcanvas-header span{margin-left:12px;font-size:17px}


.flex{display:flex}
.flex.column{flex-direction:column}
.leftNav{padding:10px}
.leftNav .br::after{content: '';display: block;margin-block: 12px;border-bottom: 1px solid #e4e3e1;}
.leftNav .br2::before{content: '';display: block;margin-block: 12px;border-top: 1px solid #e4e3e1;}
.leftNav .a{align-items: center;position: relative;min-width: 35px;padding-block: 10px;filter: none;}
.leftNav .a:hover::before, .leftNav details[open] .a::before{opacity: .8;visibility: visible;}
.leftNav:not(.r) .a::before{right: calc(-22px + 3px);border-radius: 2px 0 0 2px;}
.leftNav .a::before{content: '';position: absolute;top: 0;bottom: 0;border-inline-start: 2px solid #3740ff;opacity: 0;visibility: hidden;transition: opacity .1s ease, visibility .1s ease}
.leftNav .a:hover >svg{color: #3740ff}
.leftNav .a >svg{    margin-inline-start: calc((35px - 20px) / 2);margin-inline-end: calc((35px - 20px) / 2) + 10px - calc((35px - 20px) / 2));}
.leftNav .a svg{flex-shrink: 0;}
.leftNav details[open] svg.r{transform: rotate(180deg);}
.leftNav .a svg.r{ width: 14px;height: 14px;margin-inline-start: auto;}
.leftNav .a >.text{padding-inline-start: calc((35px - 20px) / 2);}

.leftNav details .n{padding-block: 5px 10px;padding-inline-start: calc(35px - 15px);overflow: hidden;}
.leftNav details .n li{position: relative;padding-inline-start: calc((35px - 20px) + 10px);}
.leftNav details .n li >*{display: inline-block;padding-block: 4px;}
.leftNav:not(.r) details .n li::after{left: 0;border-radius: 0 0 0 8px;}
.leftNav details .n li::after{content: '';position: absolute;top: -85px;width: 14px;height: 100px;border-inline-start: 1.5px solid #adadad;border-block-end: 1.5px solid #adadad;}

.i20 svg{ flex-shrink: 0;width: 20px;height: 20px;}
.op svg{opacity:.8}
svg.line, svg .line{fill: none;stroke: currentColor;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.25;}
svg{width: 24px;height: 24px;fill: currentColor;}

.noList, .noList ul, .noList ol{list-style:none;margin:0;padding:0;}
::before, ::after, *{-webkit-box-sizing: border-box;box-sizing: border-box;}
.leftC{padding-inline: 20px;}

.leftP{position: relative;left: 0;top: 0;right: 0;padding-block: 18px;background-color: inherit;}
.leftP.top{margin-top:40px;padding-block:0}
.leftW{color: #0e2045}
.profileIcon .a{align-items: center;}
.flexIns{display: inline-flex;}
.profileIcon .avatar{margin-inline-start: calc((35px - 20px) / 2 - 4px);margin-inline-end: calc(((35px - 20px) / 2) + 6px);}
.flex.center{align-items: center;justify-content: center;}
.avatar{min-width: 42px;min-height: 42px;border-radius: 50%;background-color: #f5f3f2;background-size: 100%;background-position: center;background-repeat: no-repeat;}
.avatar .inifoto{width: 42px;height: 42px;border-radius: 50%;}
.avatar .iniprofil{width:80px;height:80px;border-radius: 50%;}
.profileIcon .n{max-width: calc(100% - 45px);}
.fontSm{font-size: smaller;}
.opacity{opacity: .8;}
.ellips{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.wallet-footer{border-top: 1px solid #DCDCE9;padding-top: 20px;display: flex;align-items: flex-start;justify-content: space-between;}
.wallet-footer .item{flex: 1;text-align: center;}
.wallet-footer .item label{display: block;}
.wallet-footer .item label:hover{cursor: pointer;}
.wallet-footer .item .sa{display:block;}
.wallet-footer .item .icon-wrapper{width: 55px;height: 55px;display: inline-flex;align-items: center;justify-content: center;border-radius: 50%;color: #fff;font-size: 24px;margin-bottom: 14px;box-shadow:0 5px 20px 0 #24376366;transition: all .3s ease;}
.wallet-footer .item .icon-wrapper:hover{transform: scale(.9);cursor: pointer;}
.bg-putih{background:#243763}
.bg-biru{background:#243763;border-radius: 15% !important;}
.wallet-footer .item strong{display: block;color: #333333;font-weight: 500;font-size: 13px;line-height: 1.2em;}

.btn-outline-biru{color:#243763;}
.btn-outline-biru:hover{color:#fff;background-color: #243763;}

.button-container{display:flex;align-items:center;justify-content:center;padding:10px;margin:10px;border:1px solid #ccc;border-radius:5px;}
.button-icon{margin-left:10px;margin-right:10px}
.button-icon i{font-size: 28px;}
.button-text{display:flex;flex-direction:column;margin-left: 10px;}
.button-title{font-weight:700;font-size:14px}
.button-alt{font-size:12px;}

.swal2-modal > *{font-size:16px;}
.swal2-title{line-height:1.3em;font-size:18px;text-align:center;padding:15px 30px 0 30px;}
.swal2-timer-progress-bar-container > *{opacity:.7;background:#00B6FF;margin:0 2px}
.swal2-modal{background:#EAEAEA;box-shadow: 0 4px 30px rgba(255,255,255, 0.3);backdrop-filter: blur(2px);-webkit-backdrop-filter: blur(2px);border: 1px solid rgba(255, 255, 255, 0.3);border-radius: 18px;max-width:330px;top:-60px;}
.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel{position: relative;font-size:14px;color: #fff;border-radius:12px;z-index: 1;transition: all 0.2s;}

/* */

.navigation{display:none;position: fixed;top:0;left:0;bottom:0;width:70px;border-radius: 0;box-sizing: initial;border-left: 5px solid #243763;background:#243763;transition: all .3s ease;overflow-x: hidden;}
.navigation ul{position: absolute;top:0;left:0;width: 100%;padding-left: 5px;padding-top: 40px;}
.navigation ul li{position: relative;list-style: none;width: 100%;border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.navigation ul li.active{background-color: #fff;}
.navigation ul li b:nth-child(1){position: absolute;top:-20px;height: 20px;width: 100%;background-color: #fff;display: none;}
.navigation ul li b:nth-child(1)::before{content: '';position: absolute;top:0;left:0;width: 100%;height: 100%;border-bottom-right-radius:20px;background-color: #243763;}
.navigation ul li b:nth-child(2){position: absolute;bottom:-20px;height: 20px;width: 100%;background-color: #fff;display: none;}
.navigation ul li b:nth-child(2)::before{content: '';position: absolute;top:0;left:0;width: 100%;height: 100%;border-top-right-radius:20px;background-color: #243763;}
.navigation ul li.active b:nth-child(1), .navigation ul li.active b:nth-child(2){display: block;}
.navigation ul li a{position: relative;display: block;width: 100%;display: flex;text-decoration: none;color: #fff;}
.navigation ul li.active a{color:#333}
.navigation ul li a .icon{position: relative;display: block;min-width: 60px;height: 60px;line-height: 60px;text-align: center;}
.navigation ul li a .icon i{font-size: 1em;}
.navigation ul li a .title{position: relative;display: block;padding-left: 5px;height: 60px;line-height: 60px;white-space: normal;}
.navigation.active ~ .toggle{margin-left:250px;}
.toggle{display:none;position: relative;width: 50px;height: 50px;background-color: #243763;border-radius: 50%;cursor: pointer;justify-content: center;align-items: center;transition: all .3s ease;}
/*.toggle.active{background-color: #ff4d89;}*/
.toggle i{position: absolute;color: #fff;font-size: 24px;display: none;}
.toggle i.open, .toggle.active i.close{display: block;}
.toggle.active i.open, .toggle.active i.open{display: none;}
.navigation:not(.active) .list a:hover::before {content: attr(data-text);position: fixed;left: 80px;margin-top:15px;background-color: #333;color: #fff;padding: 5px;border-radius: 5px;}

/* Nav MOBILE */
.navmob{position:fixed;bottom:0;display:none;align-items:center;justify-content:space-evenly;width:100%;padding:10px 0;background:#fff;border-radius:20px 20px 0 0;box-shadow:0 0 30px 0 rgba(0,0,0,.05);z-index:10}
.navmob a{display: flex;flex-direction:column;align-items:center;justify-content:center;cursor:pointer;width:60px;height:50px;border:none;border-radius:20px;background:0 0;transition:.25s;fill:#000;color:black;text-decoration: none;}
.navmob a:active:not(.plus){transform:scale(1.2)}
.navmob a.active{color:#e84c4f;stroke:#e84c4f;stroke-width:.3}
.navmob a i{font-size:1.5rem;pointer-events:none}
.navmob a svg{width:22px;height:22px;pointer-events:none}
.navmob a.plus{height:60px;color:#fff;background:#243763;border-radius:50%;margin-top:-50px;box-shadow:0 10px 20px 0 #24376366}
.navmob a.plus:hover{transform:translateY(-8px);transform:scale(1.2)}
.navmob a span{display:block;font-size:10px}
.navmob .effect{position:absolute;width:60px;height:50px;border-radius:18px;background:#e84c4f26;opacity:0}

@media only screen and (max-width: 576px) {
  .iniheader {
    /*margin-top:1rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    padding: 8px 15px !important;
    background-color:#243763 !important;
    color:#fff !important;
    border-radius:14px;*/
    display:none;
  }
  .mx-auto{margin-top:30px;}
  .card, .terakhirAbsen {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    border-radius: 18px;
  }
  .avatar .iniprofil{
    width: 60px;
    height: 60px;
  }
  .opacity{font-size: 14px;}
  .wallet-footer .item .icon-wrapper{
    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .iniheader .btn{display: none;}
  .navmob{display:flex;}
}

@media only screen and (min-width: 576px) {
  .mx-auto{margin-top:20px}
  .navigation{display: flex;}
  .kolomkiri {position: absolute;top:0;width: 100px;height: 100%;float: left;padding: 15px;}
  .kolomkanan{margin-left: 110px !important;margin-right: 20px !important;}

  .iniheader {
    margin-top:10px !important;
    max-width:800px !important;
    border-radius: 0 !important;
    color:#000 !important;
  }
  .iniheader .btn{display: none;}
  .cardBox{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (min-width: 800px){
  .cardBox{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (min-width: 1180px) {
  .navigation.active{width: 170px;}
  .toggle{display: flex;}
}
@media only screen and (min-width: 1280px) {
  .kolomkanan{margin-left: 0 !important;margin-right: 0 !important;}
  .l-header{margin-left:auto !important;margin-right:auto !important;}
}

.cardBox {
  position: relative;
  width: 100%;
  /*padding: 20px;*/
  display: grid;
}

.cardBox a {
  text-decoration: none;
}

.cardBox .card {
  position: relative;
  background: #fff;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  margin-right: 0;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: #2a2185;
}

.cardBox .card .cardName {
  color: #5f5f5f;
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  position: absolute;
  right: 20px;
  font-size: 2.3rem;
  color: #5f5f5f;
}

.cardBox .card:hover {
  background: #2a2185;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: #fff;
}

.terakhirAbsen {
  position: relative;
  display: grid;
  /*min-height: 500px;*/
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.terakhirAbsen .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.terakhirAbsen .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.terakhirAbsen table tr td {
  padding: 12px 10px;
}

.terakhirAbsen table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}

.terakhirAbsen table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

.terakhirAbsen table tr:hover {
  background: var(--blue);
  color: var(--white);
}

.terakhirAbsen table tr:hover td h4 span {
  color: var(--white);
}

.alert{border-radius: 18px !important;}